
# general
__pycache__
.~lock.*

# custom
checkpoints
predictions
runs
test_results
.tensorboard*
*_EXAMPLE**
.trash
final_params

pretrained_backbone
!pretrained_backbone/ckpt_efficientnet_ep50.pt
!pretrained_backbone/ckpt_resnet18_ep50.pt

